<!DOCTYPE html>
<html>
  <body ng-app>
    <div class="container" data-ng-controller="testController">
      <h3>Data Binding</h3>
      <h4>Using directives</h4>
      <input type="text" data-ng-model="query">
      <ul>
        <li data-ng-repeat="person in persons | filter:query">{{person.name}} - {{person.location}}</li>
      </ul>
    </div>
    <script>
      function testController($scope) {
        $scope.persons = [
          { name: 'Pascal', location: 'Wil' },
          { name: 'Peter', location: 'St. Gallen' },
          { name: 'Hans', location: 'Ebenalp' }
        ];
      }
    </script>
    <script type="text/javascript" src="angular.js"></script>
  </body>
</html>


