<!DOCTYPE html>
<html>
  <body data-ng-app="myApp">
    <div class="container" data-ng-controller="TestController">
      <h3>Data Binding</h3>
      <h4>Using directives</h4>
      <input type="text" data-ng-model="query">
      <ul>
        <li data-ng-repeat="person in persons | filter:query | orderBy:'name'">
          {{person.name}} - {{person.location}}
          <button data-ng-click="removePerson(person)">remove me</button>
        </li>
      </ul>
      Name <input type="text" data-ng-model="name">
      Location <input type="text" data-ng-model="location">
      <button data-ng-click="addPerson()">Add Person</button>
    </div>
    <script type="text/javascript" src="angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>


